body {
  font-family: 'Arial', sans-serif;
  background-color: #cccccc;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #dddddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

h1, h2, h3 {
  text-align: center;
  color: var(--theme-color, #3498db);
  font-family: 'Roboto', sans-serif;
}

button {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--theme-color, #3498db);
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-7px);
}

input[type="text"], textarea, input[type="date"], input[type="time"], input[type="datetime-local"] {
  width: 100%;
  padding: 4px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ecf0f1;
  color: #2c3e50;
}

input[type="color"] {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.back-button {
  width: auto;
  background-color: #e74c3c;
}

.back-button:hover {
  background-color: #c0392b;
}

.create-task-back-button {
  width: auto;
  background-color: #3498db;
}

.create-task-back-button:hover {
  background-color: #2980b9;
}


.task-item {
  position: relative;
  border: 2px solid var(--theme-color, #3498db);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  transition: transform 0.3s, opacity 0.3s;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
  cursor: pointer;
}

.task-content {
  flex-grow: 1;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: #3498db;
  padding: 0;
}

.edit-button:hover {
  color: #2980b9;
  transform: scale(1.2);
}

.delete-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: #e74c3c;
  padding: 0;
}

.delete-button:hover {
  color: #c0392b;
  transform: scale(1.2);
}


.defaultCompliments {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #ffd700;
  font-weight: bold;
  text-align: center;
  text-shadow: 
    -2px -2px 0 #FFFFFF,
     2px -2px 0 #FFFFFF,
    -2px  2px 0 #FFFFFF,
     2px  2px 0 #FFFFFF,
     0  0 10px #ffd700, 
     0  0 20px #ffac33, 
     0  0 30px #ffaa33;
  opacity: 1;
  transition: opacity 0.6s ease-out, transform 0.6s ease-in-out;
}

.task-item.completed {
  transform: scale(1.1);
  background-color: #d4edda;
  box-shadow: 0 0 20px rgba(72, 187, 120, 0.5); /* 緑色の光が広がる */
  opacity: 0;
  transition: transform 0.3s ease-in-out, 
              background-color 0.6s ease-in-out, 
              opacity 0.6s ease-in-out, 
              box-shadow 0.6s ease-in-out;
}

#task-list {
  max-height: 500px;
  min-height: 200px;
  overflow: auto;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #f9f9f9;
  resize: vertical;
}

.dragging {
  opacity: 0.5;
  background-color: #f8f9fa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#gacha-result {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

.spin-animation {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700;
  }
  50% {
    box-shadow: 0 0 20px #ff4500, 0 0 40px #ff4500;
  }
}

.result-effect {
  animation: glow 1s ease-out forwards;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.8rem;
  color: #fff;
  background: linear-gradient(45deg, #ff7f50, #ffd700);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#sort-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#sort-options.hidden {
  display: none;
}

.rarity {
  color: gold;
  font-size: 1.2em;
  margin-top: 5px;
}

#gacha-result {
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.setting-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.setting-item label {
  margin-bottom: 5px;
  font-weight: bold;
}

.setting-item input[type="number"] {
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ecf0f1;
  color: #2c3e50;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}
.collection-item {
  padding: 10px;
  background: #f0f8ff;
  border: 2px solid #3498db;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.compliment-text {
  font-size: 1rem;
  font-weight: bold;
}

.rarity {
  font-size: 0.9rem;
  color: gold;
}

.empty-collection {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}

#collection-list {
  max-height: 500px;
  overflow: auto;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  background-color: #f9f9f9;
  resize: vertical;
}